In [1]:
import os
os.chdir('../..')
from pipelines.util import *
import pandas as pd

In [2]:
data = pd.read_csv('working/cs/youth-unemployment-adjusted.csv')
data['unix'] = pd.to_datetime(data['date'], format=f'%Y-%m-%d').astype(int).div(10**9).astype(int)
data['decimal_date'] = data['unix'].div((86400*365.25)).add(1970).round(2)

In [3]:
def linechart(data):
    data = data.pivot(index=['date', 'decimal_date'], columns='geography_code', values='total_who_want_to_work')
    data = data.mul(100).round(1)
    data.to_csv(os.path.join(SRC_DIR, 'themes/people-skills-future/_data/youth_employment_RGN.csv'))
linechart(data)

In [4]:
def bar_chart(data):
    data = data[data['decimal_date'] == max(data['decimal_date'])].drop(columns=['decimal_date', 'unix'])
    data = data.set_index('geography_code', drop=True)
    data[['unemployed_percent', 'wants_a_job_percent', 'total_who_want_to_work']] = data[['unemployed_percent','wants_a_job_percent','total_who_want_to_work']].mul(100).round(1)
    data.to_csv(os.path.join(SRC_DIR, 'themes/people-skills-future/_data/youth_employment_RGN_bar_chart.csv'))
    return data
data = bar_chart(data)
data

,date,geography_name,wants_a_job,unemployed,population,unemployed_percent,wants_a_job_percent,total_who_want_to_work
geography_code,,,,,,,,
E12000001,2023-12-01,North East,24400,22600,285400,7.9,8.5,16.5
E12000002,2023-12-01,North West,48900,45000,759100,5.9,6.4,12.4
E12000003,2023-12-01,Yorkshire and The Humber,38500,24300,608800,4.0,6.3,10.3