If you want to run the notebook locally, remove the hashtag before os.chdir('../..') below.

In [1]:
import os
os.chdir('../..') 
from pipelines.util import *

In [2]:
data = pd.read_csv('working/cs/youth-unemployment-adjusted.csv')
data = add_decimal_date_to_dataframe(data, datename='date')

In [3]:
def linechart(data):
    data = data.pivot(index=['date', 'decimal_date'], columns='geography_code', values='total_who_want_to_work')
    data = data.mul(100).round(1)
    data.to_csv(os.path.join(SRC_DIR, 'themes/people-skills-future/_data/youth_employment_RGN.csv'))
    return data
linechart(data)

geography_code           E12000001  E12000002  E12000003
date       decimal_date
2004-12-01 2004.92            17.6       14.8       14.8
2005-03-01 2005.16            17.6       14.6       14.1
2005-06-01 2005.41            18.0       14.4       14.8
2005-09-01 2005.67            18.2       14.4       14.5
2005-12-01 2005.92            18.6       14.8       15.3
...                            ...        ...        ...
2022-12-01 2022.91            17.3       13.8       11.9
2023-03-01 2023.16            16.4       12.6       11.2
2023-06-01 2023.41            17.8       11.2       12.2
2023-09-01 2023.66            16.0       11.7       12.1
2023-12-01 2023.91            16.5       12.4       10.3

[77 rows x 3 columns]

In [4]:
def bar_chart(data):
    data = data[data['decimal_date'] == max(data['decimal_date'])].drop(columns=['decimal_date', 'unix'])
    data = data.set_index('geography_code', drop=True)
    data[['unemployed_percent', 'wants_a_job_percent', 'total_who_want_to_work']] = data[['unemployed_percent','wants_a_job_percent','total_who_want_to_work']].mul(100).round(1)
    data.to_csv(os.path.join(SRC_DIR, 'themes/people-skills-future/_data/youth_employment_RGN_bar_chart.csv'))
    return data
data = bar_chart(data)
data

,date,geography_name,wants_a_job,unemployed,population,unemployed_percent,wants_a_job_percent,total_who_want_to_work
geography_code,,,,,,,,
E12000001,2023-12-01,North East,24400,22600,285400,7.9,8.5,16.5
E12000002,2023-12-01,North West,48900,45000,759100,5.9,6.4,12.4
E12000003,2023-12-01,Yorkshire and The Humber,38500,24300,608800,4.0,6.3,10.3